<header id="top">
    <img src="assets/logo.png">
    <div class="titolo">
        <h1>Workshop di CSS e SCSS</h1>
        <h5>Questa pagina fa schifo</h5>
    </div>
    <nav>
        <a routerLink="/page-1">Page 1</a>
        <a routerLink="/page-2">Box Model</a>
        <a routerLink="/page-3">Flex Box</a>
        <a routerLink="/page-4">SCSS</a>
        <a routerLink="/page-5">Angular</a>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <p>@microarea</p>
    <a href="http://www.microarea.it">microarea.it</a>
</footer>