$lightgray:#f1f1f1;
$darkgray: #333;
$blue:#0277bd;
$darkblue:#00578c;
$green:#3daf67;
$darkgreen:#2c7e4a;

$primary: $blue;
$primary-color: $lightgray;

$secondary: $green;
$secondary-color: $lightgray;

$inverted: $darkgray;
$inverted-color: $lightgray;